/* --------------------
        GLOBAL
-------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3d405b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #81b29a;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #E07A5F;
}

h1{
    letter-spacing: 0.1em;
}

/* --------------------
        LAYOUT
-------------------- */

/* .container,
.container-nav,
.navbar,
.container-footer,
nav ul {
    border: solid 2px red;
} */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

/* --------------------
        NAVBAR
-------------------- */

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.container-nav img {
    width: 32px;
    height: 32px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #3D405B;
    font-weight: 700;
}

nav a:hover,
nav a:focus {
    color: #F2CC8F;
}

.current {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* --------------------
        MAIN
-------------------- */

.container-main {
    text-align: center;
    padding: 3em 0;
}

/* --------------------
        FOOTER
-------------------- */

.container-footer {
    text-align: center;
    padding: 1.5em 0;
    color: #F4F1DE;
}

footer p {
    font-size: 0.75rem;
}

footer span {
    color: #3D405B;
    font-weight: 700;
}

/* --------------------
        MEDIA
-------------------- */